@charset "UTF-8";
/* CSS Document */

/*--header and navigation*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Arial", sans-serif;
  font-size: 100%;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  color: #fff;
  background-color: #6caddf;
  margin-top: 50px;
  padding: 20px 0px;
}

.header .wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 50px;
}

.header .logo-wrap {
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header .logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-text {
  width: calc(50% - 150px);
  padding-left: 25px;
}

.header-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 200;
  margin: 0;
}

.main-nav {
  width: calc(50% - 100px);
}

.social {
  width: 100px;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

.main-nav a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  background-color: transparent;
  transition: all 300ms ease;
}

.main-nav a:hover,
.main-nav a:active {
  background-color: #fff;
  color: #808080;
}

.main-nav .sub-menu {
  display: none;
  position: absolute;
  height: 100%;
  top: 100%;
  left: 0;
  z-index: 3;
}

.main-nav .sub-menu li {
  display: block;
  width: 100%;
  background-color: #808080;
  margin: 0;
}

.main-nav .sub-menu a {
  display: block;
  width: 100%;
  text-align: left;
  white-space: nowrap;
}

.main-nav li:hover > .sub-menu {
  display: block;
}

.social .linkedin svg {
  width: 35px;
  height: 35px;
  fill: #fff;
  display: block;
}

.main-portfolio {
  margin: 0;
  padding: 0;
  width: 470px;
  height: 400px;
}

.main-portfolio .column-sm {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  padding: 0 0 125px;
}

/*--columns */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33%;
  padding: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*--stadium date picker--*/
[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
body {
  padding: 4em;
  background: #fff;
  font: 13px/1.4 Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode",
    Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
}
/*--end stadium--*/

/*--Footer Beginning--*/
.navbar {
  background-color: #6caddf;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #00285e;
  color: #6caddf;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #00285e;
  color: 6caddf;
}
.copyright {
  text-align: right;
  color: white;
  padding-right: 150px;
}

/*--Footer Ending--*/
